body {
  font: 14px 'Courier New', Courier, monospace;
  text-align: center;
  background-size: cover;
}

#header{
  color: darkgreen;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 55px;
  padding-top: 100px;
}

#statistics p::before{
  content:"-"
}

#statistics p::after{
  content:"."
}

.button{
  height: 100px;
  width: 100px;
  background: none;
  outline: none;

  margin: auto;
  margin-top: 20px;

  border-color: darkgreen;
  border-radius: 100px;
  border-width: 10px;

  color: darkgreen;
  text-align: center;

  display: block;

  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  -webkit-transition: width 1s;
  transition: width 1s;
  -webkit-animation-name: anim;
  -webkit-animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: anim;
  animation-duration: 4s; 
}

@-webkit-keyframes anim {
  0% {border-color: darkgreen;}
  50% {border-color: cyan;}
  100% {border-color: darkgreen;}
}

@keyframes anim {
  0% {border-color: darkgreen;}
  50% {border-color: cyan;}
  100% {border-color: darkgreen;}
}

.button:active h1{
  color: white;
}

.button:hover {
  border-color:lightgreen;
  width: 200px;
}

#dobbelsteen {
  background: none;
  background-image: url(../images/1.png);
  background-size: cover;
  border: none;
  height: 150px;
  width: 150px;
  position: absolute;
  top:98px;
  right: 98px;
  outline: none;
  pointer-events: none;
}

#hover {
  position: absolute;
  height: 143px;
  width: 148px;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.8;
  visibility: hidden;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 20px;
  opacity: 0;
}

#dobbelsteen:hover #hover {
  visibility: visible;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#board {
  height: 600px;
  width: 600px;
  margin: auto;
  background-image: url(../images/board.jpg);
  background-size: cover;
  margin-top: 108px;
}

.player {
  height: 45px;
  width: 45px;
  position: relative;
  
}

#player1{
  background: none;
  background-image: url(../images/p1.png);
  background-size: cover;
  top: 540px;
  left: 15px;
}

#player2{
  background: none;
  background-image: url(../images/p2.png);  
  top: 495px;
  background-size: cover;
  left: 15px;
}

#player3{
  background: none;
  background-image: url(../images/p3.png);  
  top: 450px;
  background-size: cover;
  left: 15px;
}

#player4{
  background: none;
  background-image: url(../images/p4.png);  
  top: 405px;
  background-size: cover;
  left: 15px;
}

#dobbelmessage {
  position: absolute;
  top:248px;
  right: 98px;
  width:150px;
  font-size: 20px;
}

#gameover{
  width: 500px;
  height: 100px;
  position: relative;
  bottom: 300px;
  font-size: 100;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  left: 50px;
}

#fsbutton{
  width: 50px;
  height: 50px;
  background-color: darkgreen;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 10px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  #header{
    color: white;
    content: "text is te klein";
  }
}